<nav aria-label="breadcrumb" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li routerLinkActive="active-link" routerLink="/checkout/cart" [ngClass]="{'breadcrumb-item pointer isclickeable': true}"><span>Cart</span></li>
    <li routerLinkActive="active-link" routerLink="/checkout/direction" [ngClass]="{'breadcrumb-item': true,'isclickeable pointer':directionAvailable()} "><span>Direction</span>
    </li>
    <li routerLinkActive="active-link" routerLink="/checkout/payment" [ngClass]="{'breadcrumb-item': true,'isclickeable pointer':paymentAvailable()} "><span>Payment</span>
    </li>
  </ol>
</nav>