<div class="vista">
    <div class="container pt-2">
        <div class="row align-items-center">
        </div>
        <div class="row">
            <app-card-products class="col-xl-3 col-sm-6" *ngFor="let product of products.data" [dataCard]="product"
            (onAddCard)="sendProductToShoppingCart($event)" (onRemoveCard)="deleteProductinShoppingCart($event)"></app-card-products>
        </div>
        <div class="row g-0 align-items-center pb-4">
            <div class="col-sm-6">
                <div>
                    <p class="mb-sm-0">Showing {{products.currentPage}} to {{products.totalPages}} of
                        {{products.allEntries}} entries</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-end">
                    <ul class="pagination mb-sm-0">
                        <li [ngClass]="{'page-item':true,'disabled':products.currentPage===1}">
                            <a (click)="changePage(products.currentPage-1)" class="page-link pointer">prev</a>
                        </li>
                        <li *ngFor="let page of pages"
                            [ngClass]="{'page-item': true, 'active': page===products.currentPage}">
                            <a (click)="changePage(page)" class="page-link pointer">{{page}}</a>
                        </li>
                        <li [ngClass]="{'page-item':true,'disabled':products.currentPage===products.totalPages}">
                            <a class="page-link pointer" (click)="changePage(products.currentPage+1)">
                                next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>